## .NET build artifacts
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Rider
.idea/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## OS files
.DS_Store
Thumbs.db
